<!DOCTYPE html>
<html>
<head>
    <title>Email Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/bootstrap-glyphicons.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/jumbotron-narrow.css" rel="stylesheet" media="screen">

    <!-- Include javascript frameworks -->
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
</head>
<body>

<div class="container-narrow">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li>
                <a href="/">Home</a>
            </li>
            <li><a href="/codes">Codes</a></li>

            {{if .LoggedIn}}
                <li>
                    <a href="/users/logout">Logout</a>
                </li>
            {{else}}
                <li><a href="/users/signup">Sign in</a></li>
            {{end}}
        </ul>
        <h3 class="text-muted">Email Tracker</h3>
    </div>

    {{template "content" .}}

    <div class="footer">
        <p>
            2013 .
            <a href="http://we4tech.wordpress.com">Blog</a>
        </p>
    </div>

</div>
<!-- /container -->

<!-- Include custom javascripts -->

</body>
</html>